<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kwestionariusz</title>
</head>
<body>
<p>Kwestionariusz</p>


<form th:action="@{/kwestionariusz}" method="post" th:object="${questions}">
    <tr th:each="question: ${questions.questionList}">
        <td th:text="${question.text}"/>
        <br>

        <p>
            Odpowiedź: <input type="text" th:field="*{questionList[__${questionStat.index}__].answer}">
            <input type="hidden" th:value="${question.text}" th:field="*{questionList[__${questionStat.index}__].text}">
        </p>

        <p>=================</p>
    </tr>
    <p><input type="submit" value="Prześlij odpowiedź"></p>
</form>

</body>
</html>